<article class="post-card">
  <header class="card-header">
    <div>
      <p class="author-name">{{ post.authorName }}</p>

      <p class="post-date">{{ post.publicationDate | date:'dd/MM/yyyy' }}</p>
    </div>
    <div class="card-actions">
      <img src="assets/twitter.svg" alt="Share on Twitter">
      <img src="assets/Linkedin.svg" alt="Share on Linkedin">
      <img src="assets/share.svg" alt="Copy link">
    </div>
  </header>

  <div class="card-body">
    <h2 class="post-title">{{ post.title }}</h2>

    <p>{{ post.body }}</p>
  </div>
</article>
